@charset "UTF-8";
body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif; }

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-weight: normal; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto auto auto;
  font-size: 1.6rem;
  background: #111;
  color: #EEE; }
  @media screen and (max-width: 479px) {
    body {
      grid-template-columns: 1.5rem 1fr 1.5rem; } }
  @media screen and (min-width: 480px) and (max-width: 1279px) {
    body {
      grid-template-columns: 1fr 90% 1fr; } }
  @media screen and (min-width: 1280px) {
    body {
      grid-template-columns: 1fr 100% 1fr; } }
  body > header.site-header {
    grid-row: 1;
    grid-column: 2;
    padding: 3.5rem 0 3rem; }
  body > main {
    grid-row: 2;
    grid-column: 2; }
  body > footer.site-footer {
    grid-row: 3;
    grid-column: 2;
    padding: 3rem 0; }
  body > nav.side-nav {
    position: fixed;
    top: 3.5rem;
    right: 3rem; }

header.site-header {
  display: none; }
  header.site-header h1 {
    padding: 3rem 0 0;
    font-size: 2.5rem; }

main section {
  padding: 3rem 0 4rem; }

main h1 {
  padding: 1rem 0;
  font-size: 2rem; }

main * + h1 {
  margin-top: 2rem; }

main h2 {
  padding: 1rem 0;
  font-size: 1.6rem; }

main * + h2 {
  margin-top: 2rem; }

main a {
  color: #0066cc;
  text-decoration: none; }

.race-summary {
  padding: 1rem 1rem; }
  .race-summary table {
    border-collapse: collapse; }
    .race-summary table th, .race-summary table td {
      padding: 0.5rem 2rem 0.5rem 0;
      text-align: left;
      font-weight: 600; }
    .race-summary table th {
      font-size: 1.1rem; }
    .race-summary table td.race-state span {
      display: block;
      min-width: 12rem;
      padding: 0.2rem;
      text-align: center;
      letter-spacing: 0.05rem;
      border-radius: 0.3rem; }
      .race-summary table td.race-state span.green {
        background: green; }
      .race-summary table td.race-state span.yellow, .race-summary table td.race-state span.fcy {
        background: yellow;
        color: #000; }
      .race-summary table td.race-state span.red {
        background: red; }

.leaderboard {
  padding: 0; }
  .leaderboard table {
    width: 100%;
    border-collapse: collapse;
    background: #222; }
    .leaderboard table thead th {
      padding: 0.8rem 0.5rem;
      text-align: left;
      font-size: 1.1rem;
      font-weight: 600; }
      .leaderboard table thead th:first-child, .leaderboard table thead th:nth-child(2) {
        text-align: center; }
    .leaderboard table tbody tr:nth-child(odd) > td {
      background: #333; }
    .leaderboard table tbody tr:nth-child(5n+1) {
      border-top: solid 0.1rem #555; }
    .leaderboard table tbody tr td {
      padding: 0.5rem 0.5rem;
      font-size: 1.3rem;
      font-weight: 600; }
      .leaderboard table tbody tr td:first-child, .leaderboard table tbody tr td:nth-child(2), .leaderboard table tbody tr td:nth-child(3) {
        text-align: center; }
      .leaderboard table tbody tr td.car-number p {
        display: block;
        padding: 0.3rem;
        font-weight: bold;
        background: #666;
        color: #EEE;
        border-radius: 0.3rem; }
        .leaderboard table tbody tr td.car-number p.LMP1 {
          background: #e60000; }
        .leaderboard table tbody tr td.car-number p.LMP2 {
          background: #002bff; }
        .leaderboard table tbody tr td.car-number p.LMGTEPro {
          background: green; }
        .leaderboard table tbody tr td.car-number p.LMGTEAm {
          background: #e68600; }
      .leaderboard table tbody tr td.best-time {
        color: #e6bf00; }

footer.site-footer a {
  color: #265973;
  text-decoration: none; }

footer.site-footer:hover {
  text-decoration: underline; }

footer.site-footer .copyright {
  text-align: right;
  font-size: 1.4rem; }
